#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.counter {
  padding: 2em;
  border: 2px solid #444;
}

.counter-error {
  border: 2px solid red;
}

.counter-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  width: 60px;
}

.read-the-docs {
  color: #888;
}

.max-current {
    color: red;
    font-weight: bold;
}
